
/* Whole document: */
body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}