
/* Title slide title */
.title-slide hgroup h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.1;
  position: fixed;
  top: 25%;
  left: 52%;
  transform: translate(-60%, -60%)
}


.firstslide {
    line-height: 0.8;
  }


/* Background colour for code blocks */
.prettyprint {
  background-color: #FFFFFF;
}


/*Adjust syntax highlighting */

.prettyprint .str {
  color: darkgreen;
}

.prettyprint .pln {
  color: steelblue;
}

.prettyprint .pun {
  color: DarkSlateBlue;
}

.prettyprint .lit {
  color: #7f0000;
}
